MONGODB_URI
JWT_SECRET
JWT_EXPIRES_IN
NEXT_PUBLIC_APP_URL
NEXT_PUBLIC_FOUNDER_USERNAME
NEXT_PUBLIC_APP_LAUNCH_DATE
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
EMAIL_HOST
EMAIL_PORT
GMAIL_USER
GMAIL_APP_PASS
ADMIN_NOTIFY_EMAIL
NEXT_PUBLIC_PUSHER_KEY
NEXT_PUBLIC_PUSHER_CLUSTER
PUSHER_APP_ID
PUSHER_SECRET
LIVEKIT_API_KEY
LIVEKIT_API_SECRET
NEXT_PUBLIC_LIVEKIT_URL
NEXT_PUBLIC_VAPID_PUBLIC_KEY
VAPID_PRIVATE_KEY
VAPID_SUBJECT
NEXT_PUBLIC_YT_API_KEY
NEXT_PUBLIC_TLDRAW_LICENSE
NEXT_PUBLIC_GIPHY_API_KEY
NEXT_PUBLIC_APK_DOWNLOAD_URL
NEXT_PUBLIC_CONTACT_DEVELOPER_URL
NEXT_PUBLIC_ADMIN_EMAIL
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI
OPENROUTER_API_KEY
CRON_SECRET
APPWRITE_ENDPOINT
NEXT_PUBLIC_APPWRITE_ENDPOINT
APPWRITE_PROJECT_ID
NEXT_PUBLIC_APPWRITE_PROJECT_ID
APPWRITE_API_KEY
NEXT_PUBLIC_APPWRITE_CLIPS_BUCKET_ID
APPWRITE_DATABASE_ID
NEXT_PUBLIC_APPWRITE_DATABASE_ID
NEXT_PUBLIC_APPWRITE_USER_MEDIA_BUCKET_ID
NEXT_PUBLIC_APPWRITE_RESOURCES_BUCKET_ID